<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @lecture.content %>
</p>

<p>
  <strong>File:</strong>
<%= link_to 'Download file
', @lecture.file.url%>

</p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course_id %>
</p>
<h2><%= @lecture.comments.count%> Comments</h2>
<%= render @lecture.comments%>
<h3> Add a comment: </h3>
<%= render "comments/form"%>
<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
