<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @lecture.content %>
</p>

<p>
  <strong>File:</strong>
<%= link_to 'Download file
', @lecture.file.url%>

</p>
<p>
  <%= link_to 'spam',spam_lecture_path(@lecture), method: :POST%>

</p>
<p>
<span>like</span>
<span>
<%= link_to like_lecture_path(@lecture), class:"like", method: :put do%>
<button>
<span><%= @lecture.get_upvotes.size %> </span>
</button>
<% end%>
</span>
<span>dislike</span>
<span>
<%= link_to unlike_lecture_path(@lecture), class:"like", method: :put do%>
<button>
<span><%= @lecture.get_downvotes.size %> </span>
</button>
<% end%>
</span>
</p>


<h2><%= @lecture.comments.count%> Comments</h2>
<%= render @lecture.comments%>
<h3> Add a comment: </h3>
<%= render "comments/form"%>
<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
